<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <footer th:fragment="footer" class="page-footer hp-background-red text-white pt-4 pb-4 mt-4">
        <div class="container">
            <div class="row">
                <div class="col text-left hp-font-size-14 font-weight-bold">Copyright © 2018, House Pin. Todos os direitos
                    reservados.
                </div>
                <div class="col text-right hp-font-size-14 font-weight-bold"><a href="" class="text-white">TERMOS DE USO</a><a
                        href="" class="text-white ml-4">POLÍTICA DE PRIVACIDADE</a></div>
            </div>
        </div>
    </footer>
</body>
</html>