<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>House Pin - Sua referência em imóveis</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/css.css}" href="/css/css.css" type="text/css"/>
</head>
<body>
<header th:fragment="header-sem-usuario">
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-end hp-h-100">
        <div class="container">
            <a href="/" class="mr-4"><img src="/images/logo.svg" alt="House Pin - Sua referência em imóveis"/></a>
            <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-toggler-lg bg-white text-lg-right pl-4 border-left" id="menu">
                <ul class="navbar-nav font-weight-bold">
                    <li class="nav-item mr-2"><a class="nav-link hp-font-size-14 hp-color-gray" href="/">NOVIDADES</a></li>
                    <li class="nav-item mr-2"><a class="nav-link hp-font-size-14 hp-color-gray" href="/">PROMOÇÕES</a></li>
                    <li class="nav-item"><a class="nav-link hp-font-size-14 hp-color-gray" href="/">DÚVIDAS FREQUENTES</a></li>
                </ul>
            </div>
            <div class="justify-content-end">

                <!-- USUÁRIO DESLOGADO -->

                <a th:href="@{/login}" class="btn font-weight-bold hp-font-size-14 text-secondary mr-0 bg-white hp-hover-text-entrar hp-color-gray" role="button" aria-pressed="true">ENTRAR</a>

                <a th:href="@{/anuncio/cadastro(id=0)}" class="btn font-weight-bold hp-font-size-14 hp-round-button hp-border-light-gray pl-3 pr-3 bg-white hp-color-red hp-hover-button-anunciar" role="button" aria-pressed="true">ANUNCIAR</a>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Entrar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pt-0">
                                <form>
                                    <div class="form-group mb-2">
                                        <label for="exampleInputEmail1"
                                               class="mb-0 hp-font-size-14 hp-color-light-gray">E-mail</label>
                                        <input type="email" class="form-control hp-font-size-14" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Informe seu E-mail">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"
                                               class="mb-0 hp-font-size-14 hp-color-light-gray">Senha</label>
                                        <input type="password" class="form-control hp-font-size-14"
                                               id="exampleInputPassword1" placeholder="Informe sua Senha">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Acessar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END USUÁRIO DESLOGADO -->

                <!--<div class="btn-group border-0">-->
                    <!--<a type="button" class="btn font-weight-bold hp-font-size-14 text-secondary mr-0 bg-white hp-hover-text-entrar hp-color-gray hp-usuario-logado-opcoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RODRIGO GOLFETO</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right">-->
                        <!--<button class="dropdown-item" type="button">Meu Perfil</button>-->
                        <!--<button class="dropdown-item" type="button">Meus Anúncios</button>-->
                        <!--<button class="dropdown-item" type="button">Sair da Conta</button>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </nav>
</header>
<header th:fragment="header-usuario-logado">
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-end hp-h-100">
        <div class="container">
            <a href="/" class="mr-4"><img src="/images/logo.svg" alt="House Pin - Sua referência em imóveis"/></a>
            <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-toggler-lg bg-white text-lg-right pl-4 border-left" id="menu">
                <ul class="navbar-nav font-weight-bold">
                    <li class="nav-item mr-2"><a class="nav-link hp-font-size-14 hp-color-gray" href="/">NOVIDADES</a></li>
                    <li class="nav-item mr-2"><a class="nav-link hp-font-size-14 hp-color-gray" href="/">PROMOÇÕES</a></li>
                    <li class="nav-item"><a class="nav-link hp-font-size-14 hp-color-gray" href="/">DÚVIDAS FREQUENTES</a></li>
                </ul>
            </div>
            <div class="justify-content-end">

                <div class="btn-group border-0">
                    <a type="button"
                       class="btn font-weight-bold hp-font-size-14 text-secondary mr-0 bg-white hp-hover-text-entrar hp-color-gray hp-usuario-logado-opcoes"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span sec:authentication="principal.username"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Meu Perfil</button>
                        <a th:href="@{/anuncio/cadastro(id=0)}" class="dropdown-item">Anunciar</a>
                        <a th:href="@{/anuncio/meus-anuncios}" class="dropdown-item">Meus Anúncios</a>
                        <a th:href="@{/anuncio/favoritos}" class="dropdown-item">Favoritos</a>
                        <a th:href="@{/relatorio(finalidade='venda')}" class="dropdown-item">Relatório de Venda</a>
                        <a th:href="@{/relatorio(finalidade='aluguel')}" class="dropdown-item">Relatório de Aluguel</a>
                        <a th:href="@{/logout}"><button class="dropdown-item" type="button">Sair da Conta</button></a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>
</body>
</html>