* { font-family:'Roboto', sans-serif !important; }
.hp-h-100 { height:100px !important; }
.hp-round-button { border-radius:25px !important; }
.hp-round-2 { border-radius:2px !important; }
.hp-border-light-gray { border-color:#BABABA !important; }
.hp-color-light-gray { color:#BABABA !important; }
.hp-color-partial-gray { color:#7E7E7E !important; }
.hp-color-gray { color:#505050 !important; }
.hp-color-red { color:#F23362 !important; }
.hp-background-red { background-color:#F23362 !important; }
.hp-background-gray { background-color:#F6F6F6 !important; }
.hp-font-size-16 { font-size:16px !important; }
.hp-font-size-14 { font-size:14px !important; }
.hp-font-size-12 { font-size:12px !important; }
.hp-font-size-10 { font-size:10px !important; }
.hp-line-height-20 { line-height:20px !important; }
.hp-line-height-18 { line-height:18px !important; }
.hp-line-height-16 { line-height:16px !important; }
.hp-line-height-14 { line-height:14px !important; }
.hp-line-height-12 { line-height:12px !important; }
.hp-line-height-10 { line-height:10px !important; }
.hp-right-10 { right:10px !important; }

.hp-favorito { width:24px;height:24px;cursor: pointer;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiCwcACxpjyTkwAAABVklEQVQ4y5VTP0vDQBT/3RmXoGAd7FQhrVGESgcN4l6yC12cCg79AkL3fgA/h6Odu3SqULRDJ9F4l6og6hAzSIdq8xyUJOaf8U3H+/173LtjSCji8ggonzEP+Up0JEkSnSSMxVt3a9yGCmDqaRuvUZTHBbwNFQCg8naOBN8fyRk81T8lI5Ig1tl1SABMabvyEBFcLRY06FwnHToMrEQsXVzCYpZnwXqz9z6Y3aJTLOW873d2wuQzijnpAPDC2egfdLARnzUxzs0fz5oMeFz97NFuHnfFLDkcKDmoY/gnf4h6yflZnObOTQwy6YO5qblAaHFik92k82mrcvt98p8GLWcFBKgvWNjJEgRokFDNTKjGBMgUBKjit8IjeTgHcBiyi47UV4IXRV2vVm6UG16Nur6g2Ffwu+SFJEmyJ4xwVxiyJ0mSHd/SfcFu2ftJ408OxPGT/6m+AK6Ib3yGeG38AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTExLTA3VDAwOjExOjI2KzAxOjAwO0PbeAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0xMS0wN1QwMDoxMToyNiswMTowMEoeY8QAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC');position:absolute !important;z-index:999 !important;display: block !important;right:26px;top: 10px !important; }
.hp-favorito.ativo { background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEUAAAD//4D/20P/2UP/3Eb/2kT/20P/3UT/zDP/10P/2kT/20T/2UT/2kX/2kT/2kT/2kT/2kT/2kT/2UD/2kP/1Uf/2kT/30D/2kT/20n/20T/3Eb/2kX/2kT/2kT/2kT/2kT/v0D/2kT/20T/3Eb/2kT/2UP/2UX/4Uv/2kb/20P/20T/5k3/2kQAAAC32BZwAAAALXRSTlMAAluBFvWMHgUmS3CVuu9m8+i1FNASzBDIDsQzYLjl/awE/K8sxjXFETc5YgrRFFEtAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+ILBwAQLAVFZzMAAAC0SURBVCjPbZFXEoMwDERF6L33XkKq7n+9BAhmTLQ/lvbNeiQbgEm4XASgJCKKlC/JiLJEAAW/UugAGVkDRESVNyCrzNJ0w7RsB39ybMs0dA3A9ZCQ54KPpHwIaBBAGFF+FALEyb+fxMtYaXb2s3QbOC94v8j3VXQe6GzHkgclAxUPqvMD7joesuZBzUCz9m3XtWvR7H4/LO04AUzjUg39Tq6I9ryVs414Y1fd3cfxZc/Xezk+E8s0Dn/TTx8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMTEtMDdUMDA6MTY6NDQrMDE6MDCIb9ivAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTExLTA3VDAwOjE2OjQ0KzAxOjAw+TJgEwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') !important; }

.hp-hover-button-anunciar:hover { background-color:#F23362 !important;color:#FFF !important;border-color:#F23362 !important; }
.hp-hover-text-entrar:hover { color:#303438 !important;}

.hp-search-home { background-image:url('../images/bg-search.png');height:230px !important;padding-top:70px; }
.hp-search-interno { background-image:url('../images/bg-search.png');height:128px !important;padding-top:10px; }
.hp-base-formulario { width:830px;height:50px;background-color:#FFF;display:block;margin-top:30px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;position:relative; }
.hp-base-formulario .hp-finalidade { width:auto;height:50px;display:block;padding-top:13px;float:left; }
.hp-base-formulario .hp-finalidade > span { cursor:pointer;transition:0.2s;color:#424242;border-right:1px solid #E2E2E2;padding:15px 20px;height:50px; }
.hp-base-formulario .hp-finalidade > span.marcado { color:#F23362; }
.hp-base-formulario .hp-finalidade > span:hover { color:#F23362; }
.hp-base-formulario .hp-select { border:0 !important;width:240px;height:48px;border-radius:0px !important; }
.hp-base-formulario .hp-input { border:0 !important;width:240px;height:50px;border-left:1px solid #E2E2E2 !important; }
.hp-base-formulario .hp-button-search { border:0 !important;height:50px;background-color:#F23362;color:#FFF;float:right;-webkit-border-radius:30px;-webkit-border-top-left-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius:30px;-moz-border-radius-topleft:0px;-moz-border-radius-bottomleft:0px;border-radius:30px;border-top-left-radius:0px;border-bottom-left-radius:0px; }

.hp-usuario-logado-opcoes:before { content:'';float: right;margin-top:9px;margin-left:5px;width:10px;height:6px;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB6SURBVHgBdY6xDYAgEEU5WcLSklI3cATo7NQNLO3ESVwBO0tGsGQb/CRnggle8nO5z+PfkTFmjDH2zrlZFEprfRCRrwB1mKdklKD0lhgZQriUUgRjQW8wnzkE7di2Uvbbom3QzVbLUPKFfEEkeU4eoDqHxM/xltM/9QBxsDCrJ11n6gAAAABJRU5ErkJggg==');background-repeat: no-repeat; }

.select2-container { box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle; }
.select2-container .select2-selection--single { box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none; }
.select2-container .select2-selection--single .select2-selection__rendered { display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.select2-container .select2-selection--single .select2-selection__clear { position:relative; }
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered { padding-right:8px;padding-left:20px; }
.select2-container .select2-selection--multiple { box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none; }
.select2-container .select2-selection--multiple .select2-selection__rendered { display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap; }
.select2-container .select2-search--inline { float:left; }
.select2-container .select2-search--inline .select2-search__field { box-sizing:border-box;border:none;font-size:100%;margin-top:5px;padding:0; }
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button { -webkit-appearance:none; }
.select2-dropdown { background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051; }
.select2-results { display:block; }
.select2-results__options { list-style:none;margin:0;padding:0; }
.select2-results__option { padding:6px;user-select:none;-webkit-user-select:none; }
.select2-results__option[aria-selected] { cursor:pointer; }
.select2-container--open .select2-dropdown { left:0; }
.select2-container--open .select2-dropdown--above { border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0; }
.select2-container--open .select2-dropdown--below { border-top:none;border-top-left-radius:0;border-top-right-radius:0;top:9px; }
.select2-search--dropdown { display:block;padding:4px; }
.select2-search--dropdown .select2-search__field { padding:4px;width:100%;box-sizing:border-box; }
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button { -webkit-appearance:none; }
.select2-search--dropdown.select2-search--hide { display:none; }
.select2-close-mask { border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0); }
.select2-hidden-accessible { border:0 !important;clip:rect(0 0 0 0) !important;height:1px !important;margin:-1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important; }
.select2-container--default .select2-selection--single { background-color:#fff;border-radius:4px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { color:#444;line-height:28px; }
.select2-container--default .select2-selection--single .select2-selection__clear { cursor:pointer;float:right;font-weight:bold; }
.select2-container--default .select2-selection--single .select2-selection__placeholder { color:#999; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height:26px;position:absolute;top:1px;right:1px;width:20px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b { border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear { float:left; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow { left:1px;right:auto; }
.select2-container--default.select2-container--disabled .select2-selection--single { background-color:#eee;cursor:default; }
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear { display:none; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px; }
.select2-container--default .select2-selection--multiple { background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text; }
.select2-container--default .select2-selection--multiple .select2-selection__rendered { box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%; }
.select2-container--default .select2-selection--multiple .select2-selection__rendered li { list-style:none; }
.select2-container--default .select2-selection--multiple .select2-selection__placeholder { color:#999;margin-top:5px;float:left; }
.select2-container--default .select2-selection--multiple .select2-selection__clear { cursor:pointer;float:right;font-weight:bold;margin-top:5px;margin-right:10px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove { color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover { color:#333; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline { float:right; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left:5px;margin-right:auto; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left:2px;margin-right:auto; }
.select2-container--default.select2-container--focus .select2-selection--multiple { border:solid black 1px;outline:0; }
.select2-container--default.select2-container--disabled .select2-selection--multiple { background-color:#eee;cursor:default; }
.select2-container--default.select2-container--disabled .select2-selection__choice__remove { display:none; }
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple { border-top-left-radius:0;border-top-right-radius:0; }
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple { border-bottom-left-radius:0;border-bottom-right-radius:0; }
.select2-container--default .select2-search--dropdown .select2-search__field { border:1px solid #aaa; }
.select2-container--default .select2-search--inline .select2-search__field { background:transparent;border:none;outline:0;box-shadow:none;-webkit-appearance:textfield; }
.select2-container--default .select2-results > .select2-results__options { max-height:200px;overflow-y:auto; }
.select2-container--default .select2-results__option[role=group] { padding:0; }
.select2-container--default .select2-results__option[aria-disabled=true] { color:#999; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color:#ddd; }
.select2-container--default .select2-results__option .select2-results__option { padding-left:1em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__group { padding-left:0; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option { margin-left:-1em;padding-left:2em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left:-2em;padding-left:3em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left:-3em;padding-left:4em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left:-4em;padding-left:5em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left:-5em;padding-left:6em; }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color:#5897fb;color:white; }
.select2-container--default .select2-results__group { cursor:default;display:block;padding:6px; }
.select2-container--classic .select2-selection--single { background-color:#f7f7f7;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top, white 50%, #eeeeee 100%);background-image:-o-linear-gradient(top, white 50%, #eeeeee 100%);background-image:linear-gradient(to bottom, white 50%, #eeeeee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
.select2-container--classic .select2-selection--single:focus { border:1px solid #5897fb; }
.select2-container--classic .select2-selection--single .select2-selection__rendered { color:#444;line-height:28px; }
.select2-container--classic .select2-selection--single .select2-selection__clear { cursor:pointer;float:right;font-weight:bold;margin-right:10px; }
.select2-container--classic .select2-selection--single .select2-selection__placeholder { color:#999; }
.select2-container--classic .select2-selection--single .select2-selection__arrow { background-color:#ddd;border:none;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);background-image:-o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);background-image:linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
.select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear { float:left; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow { border:none;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto; }
.select2-container--classic.select2-container--open .select2-selection--single { border:1px solid #5897fb; }
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background:transparent;border:none; }
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single { border-top:none;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top, white 0%, #eeeeee 50%);background-image:-o-linear-gradient(top, white 0%, #eeeeee 50%);background-image:linear-gradient(to bottom, white 0%, #eeeeee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single { border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top, #eeeeee 50%, white 100%);background-image:-o-linear-gradient(top, #eeeeee 50%, white 100%);background-image:linear-gradient(to bottom, #eeeeee 50%, white 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }
.select2-container--classic .select2-selection--multiple { background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0; }
.select2-container--classic .select2-selection--multiple:focus { border:1px solid #5897fb; }
.select2-container--classic .select2-selection--multiple .select2-selection__rendered { list-style:none;margin:0;padding:0 5px; }
.select2-container--classic .select2-selection--multiple .select2-selection__clear { display:none; }
.select2-container--classic .select2-selection--multiple .select2-selection__choice { background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px; }
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove { color:#888;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px; }
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover { color:#555; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { float:right; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left:5px;margin-right:auto; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left:2px;margin-right:auto; }
.select2-container--classic.select2-container--open .select2-selection--multiple { border:1px solid #5897fb; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple { border-top:none;border-top-left-radius:0;border-top-right-radius:0; }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple { border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0; }
.select2-container--classic .select2-search--dropdown .select2-search__field { border:1px solid #aaa;outline:0; }
.select2-container--classic .select2-search--inline .select2-search__field { outline:0;box-shadow:none; }
.select2-container--classic .select2-dropdown { background-color:white;border:1px solid transparent; }
.select2-container--classic .select2-dropdown--above { border-bottom:none; }
.select2-container--classic .select2-dropdown--below { border-top:none; }
.select2-container--classic .select2-results > .select2-results__options { max-height:200px;overflow-y:auto; }
.select2-container--classic .select2-results__option[role=group] { padding:0; }
.select2-container--classic .select2-results__option[aria-disabled=true] { color:grey; }
.select2-container--classic .select2-results__option--highlighted[aria-selected] { background-color:#3875d7;color:white; }
.select2-container--classic .select2-results__group { cursor:default;display:block;padding:6px; }
.select2-container--classic.select2-container--open .select2-dropdown { order-color:#5897fb; }

.tt-menu,
.gist {
    text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
    /*
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    */
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}