<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<div th:replace="fragments/header :: head">&nbsp;</div>
<body class="hp-background-gray">
<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/header :: header-usuario-logado">&nbsp;</div>
</div>
<div sec:authorize="!isAuthenticated()">
    <div th:replace="fragments/header :: header-sem-usuario">&nbsp;</div>
</div>
<div class="hp-search-interno">
    <div class="container">
        <div class="hp-base-formulario mx-auto">
            <div class="hp-finalidade font-weight-bold mr-1">
                <span class="item marcado" data-value="comprar">Comprar</span>
                <span class="item" data-value="alugar">Alugar</span>
                <input type="hidden" name="finalidade" value="comprar">
            </div>
            <select class="hp-select font-weight-bold ml-0 mr-0" name="state">
                <option></option>
                <optgroup label="RESIDENCIAL">
                    <option value="15">Apart Hotel / Flat / Loft</option>
                    <option value="1">Apartamento</option>
                    <option value="14">Apto. Cobertura / Duplex</option>
                    <option value="11">Casa-Condomínio</option>
                    <option value="2">Casa-Térrea</option>
                    <option value="5">Kitnet</option>
                    <option value="6">Sobrado</option>
                    <option value="13">Sobrado-Condomínio</option>
                    <option value="4">Terreno</option>
                    <option value="12">Terreno-Condomínio</option>
                </optgroup>
                <optgroup label="COMERCIAL">
                    <option value="16">Área</option>
                    <option value="17">Casa Comercial</option>
                    <option value="18">Galpão / Depósito</option>
                    <option value="3">Imóvel Comercial</option>
                    <option value="19">Indústria / Fábrica</option>
                    <option value="20">Ponto Comercial</option>
                    <option value="21">Pousada / Hotel / Motel</option>
                    <option value="22">Sala / Salão / Loja</option>
                </optgroup>
                <optgroup label="RURAL">
                    <option value="7">Chácara</option>
                    <option value="8">Fazenda</option>
                    <option value="23">Haras</option>
                    <option value="9">Pesqueiro</option>
                    <option value="10">Sitio</option>
                </optgroup>
            </select>
            <input type="" name="" class="hp-input font-weight-bold ml-0 bg-white pl-3 pr-3" placeholder="Localidade"/>
            <button type="button" class="btn font-weight-bold pl-4 pr-4 hp-button-search">Buscar</button>
        </div>
    </div>
</div>

<div class="container pt-4">
    <h6 class="font-weight-bold mb-4">Anúncio</h6>

    <div class="row">
        <div class="col-xl-9 mb-4">
            <form id="formCadastroAnunciante" th:action="@{/anuncio/cadastro}" th:object="${anuncio}" method="post">
                <div class="form-row">
                    <input id="campo_id" th:field="*{id}" type="hidden"/>
                    <input id="campo_endereco_id" th:field="*{endereco.id}" type="hidden"/>
                    <input id="campo_data_insercao" th:field="*{dataInsercao}" type="hidden"/>
                    <input id="campo_data_expiracao" th:field="*{dataExpiracao}" type="hidden"/>

                    <div class="form-group col-md-3">
                        <label for="campo_endereco_cep">CEP</label>
                        <input type="text" class="form-control" id="campo_endereco_cep" placeholder="CEP" maxlength="9" required
                               th:field="*{endereco.cep}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="campo_endereco_cidade">Cidade</label>
                        <input type="text" class="form-control" id="campo_endereco_cidade" placeholder="Cidade" maxlength="255"
                               required th:field="*{endereco.cidade}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="campo_endereco_estado">Estado</label>
                        <select id="campo_endereco_estado" class="form-control" required th:field="*{endereco.uf}" th:readonly="${visualizando}">
                            <option value="">Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="campo_endereco_bairro">Bairro</label>
                        <input type="text" class="form-control" id="campo_endereco_bairro" placeholder="Bairro" maxlength="255"
                               required th:field="*{endereco.bairro}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="campo_endereco_rua">Rua</label>
                        <input type="text" class="form-control" id="campo_endereco_rua" placeholder="Rua" maxlength="255"
                               required th:field="*{endereco.logradouro}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_endereco_complemento">Complemento (opcional)</label>
                        <input type="text" class="form-control" id="campo_endereco_complemento" placeholder="Complemento" maxlength="255"
                               th:field="*{endereco.complemento}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="campo_endereco_numero">Número</label>
                        <input type="text" class="form-control" id="campo_endereco_numero" placeholder="Número" min="1" required
                               th:field="*{endereco.numero}" th:readonly="${visualizando}">
                    </div>
                </div>
                <!--<div class="form-row mt-1">-->
                    <!--<div class="custom-control custom-radio custom-control-inline">-->
                        <!--<input type="radio" id="campo_compra" name="campo_finalidade" class="custom-control-input"-->
                               <!--checked="checked">-->
                        <!--<label class="custom-control-label" for="campo_compra">Compra</label>-->
                    <!--</div>-->
                    <!--<div class="custom-control custom-radio custom-control-inline">-->
                        <!--<input type="radio" id="campo_venda" name="campo_finalidade" class="custom-control-input">-->
                        <!--<label class="custom-control-label" for="campo_venda">Venda</label>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-row mt-3">
                    <div class="form-group col-md-4">
                        <label for="campo_tipo_imovel">Tipo do Imóvel</label>
                        <select class="form-control" id="campo_tipo_imovel" required th:readonly="${visualizando}">
                            <option value="">Selecione</option>
                            <optgroup label="RESIDENCIAL">
                                <option value="15">Apart Hotel / Flat / Loft</option>
                                <option value="1">Apartamento</option>
                                <option value="14">Apto. Cobertura / Duplex</option>
                                <option value="11">Casa-Condomínio</option>
                                <option value="2">Casa-Térrea</option>
                                <option value="5">Kitnet</option>
                                <option value="6">Sobrado</option>
                                <option value="13">Sobrado-Condomínio</option>
                                <option value="4">Terreno</option>
                                <option value="12">Terreno-Condomínio</option>
                            </optgroup>
                            <optgroup label="COMERCIAL">
                                <option value="16">Área</option>
                                <option value="17">Casa Comercial</option>
                                <option value="18">Galpão / Depósito</option>
                                <option value="3">Imóvel Comercial</option>
                                <option value="19">Indústria / Fábrica</option>
                                <option value="20">Ponto Comercial</option>
                                <option value="21">Pousada / Hotel / Motel</option>
                                <option value="22">Sala / Salão / Loja</option>
                            </optgroup>
                            <optgroup label="RURAL">
                                <option value="7">Chácara</option>
                                <option value="8">Fazenda</option>
                                <option value="23">Haras</option>
                                <option value="9">Pesqueiro</option>
                                <option value="10">Sitio</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="campo_finalidade">Finalidade</label>
                        <select class="form-control" id="campo_finalidade" required th:field="*{finalidade}" th:readonly="${visualizando}">
                            <option value="">Selecione</option>
                            <option th:each="finalidade : ${T(org.jacared.housepin.utils.EnumFinalidade).values()}"
                                    th:value="${finalidade}"
                                    th:text="${finalidade}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_condicao">Condições</label>
                        <select class="form-control" id="campo_condicao" required th:field="*{condicao}" th:readonly="${visualizando}">
                            <option value="">Selecione</option>
                            <option th:each="condicao : ${T(org.jacared.housepin.utils.EnumCondicao).values()}"
                                    th:value="${condicao}"
                                    th:text="${condicao}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_situacao">Situação do Anúncio</label>
                        <select class="form-control" id="campo_situacao" required th:field="*{situacao}" th:readonly="${visualizando}">
                            <option value="">Selecione</option>
                            <option th:each="logico : ${T(org.jacared.housepin.utils.EnumLogico).values()}"
                                    th:value="${logico}"
                                    th:text="${logico}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_valor">Valor</label>
                        <input type="number" class="form-control" id="campo_valor" placeholder="Valor" required
                               th:field="*{valor}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_condominio">Condomínio</label>
                        <input type="number" class="form-control" id="campo_condominio" placeholder="Condomínio" required
                               th:field="*{condominio}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_iptu">IPTU</label>
                        <input type="number" class="form-control" id="campo_iptu" placeholder="IPTU" required
                               th:field="*{iptu}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_area_total">Área Total</label>
                        <input type="number" class="form-control" id="campo_area_total" placeholder="Área Total" required
                               th:field="*{areaTotal}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_area_util">Área Útil</label>
                        <input type="number" class="form-control" id="campo_area_util" placeholder="Área Útil" required
                               th:field="*{areaUtil}" th:readonly="${visualizando}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="campo_descricao">Descrição</label>
                        <textarea class="form-control" id="campo_descricao" rows="3" required th:field="*{descricao}" th:readonly="${visualizando}"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="campo_observacoes">Observações</label>
                        <textarea class="form-control" id="campo_observacoes" rows="3" required th:field="*{observacoes}" th:readonly="${visualizando}"></textarea>
                    </div>
                </div>
                <div th:if="${!visualizando}">
                    <button type="submit" class="btn btn-primary mt-4">Cadastrar</button>
                </div>
            </form>
        </div>
        <div class="col-xl-3 mb-4">
            <div class="card border-0 mb-4 hp-background-gray">
                <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                <div class="card-body p-0">
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">APARTAMENTO</span>
                    <div class="hp-font-size-16 font-weight-bold hp-line-height-20">Jardim Universitário<br>Dourados -
                        MS
                    </div>
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">Rua Visconde Bastos, 358</span>
                </div>
            </div>
            <div class="card border-0 mb-4 hp-background-gray">
                <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                <div class="card-body p-0">
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">APARTAMENTO</span>
                    <div class="hp-font-size-16 font-weight-bold hp-line-height-20">Jardim Universitário<br>Dourados -
                        MS
                    </div>
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">Rua Visconde Bastos, 358</span>
                </div>
            </div>
            <div class="card border-0 mb-4 hp-background-gray">
                <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                <div class="card-body p-0">
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">APARTAMENTO</span>
                    <div class="hp-font-size-16 font-weight-bold hp-line-height-20">Jardim Universitário<br>Dourados -
                        MS
                    </div>
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">Rua Visconde Bastos, 358</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<div th:replace="fragments/scripts :: scripts">&nbsp;</div>
<script type="application/javascript">
    // $(document).ready(function () {
    //     // $('#campo_cep').mask('00000-000');
    //
    //     // $("#formCadastroAnunciante").bind('ajax:complete', function(e) {
    //     //     console.log(e);
    //     // });
    // });
</script>
</body>
</html>