<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragments/header :: head">&nbsp;</div>
<body class="hp-background-gray">
<div th:replace="fragments/header :: header-sem-usuario">&nbsp;</div>
<!--<div th:replace="fragments/header :: ${#authentication.principal.isAdmin()} ? 'header-usuario-logado' : 'header-sem-usuario'">&nbsp;</div>-->

<div class="hp-search-interno">
    <div class="container">
        <div class="hp-base-formulario mx-auto">
            <div class="hp-finalidade font-weight-bold mr-1">
                <span class="item marcado" data-value="comprar">Comprar</span>
                <span class="item" data-value="alugar">Alugar</span>
                <input type="hidden" name="finalidade" value="comprar">
            </div>
            <select class="hp-select font-weight-bold ml-0 mr-0" name="state">
                <option></option>
                <optgroup label="RESIDENCIAL"><option value="15">Apart Hotel / Flat / Loft</option><option value="1">Apartamento</option><option value="14">Apto. Cobertura / Duplex</option><option value="11">Casa-Condomínio</option><option value="2">Casa-Térrea</option><option value="5">Kitnet</option><option value="6">Sobrado</option><option value="13">Sobrado-Condomínio</option><option value="4">Terreno</option><option value="12">Terreno-Condomínio</option></optgroup>
                <optgroup label="COMERCIAL"><option value="16">Área</option><option value="17">Casa Comercial</option><option value="18">Galpão / Depósito</option><option value="3">Imóvel Comercial</option><option value="19">Indústria / Fábrica</option><option value="20">Ponto Comercial</option><option value="21">Pousada / Hotel / Motel</option><option value="22">Sala / Salão / Loja</option></optgroup>
                <optgroup label="RURAL"><option value="7">Chácara</option><option value="8">Fazenda</option><option value="23">Haras</option><option value="9">Pesqueiro</option><option value="10">Sitio</option></optgroup>
            </select>
            <input type="" name="" class="hp-input font-weight-bold ml-0 bg-white pl-3 pr-3" placeholder="Localidade" />
            <button type="button" class="btn font-weight-bold pl-4 pr-4 hp-button-search">Buscar</button>
        </div>
    </div>
</div>

<div class="container pt-4">
    <h6 class="font-weight-bold mb-4">Anúncio</h6>

    <div class="row">
        <div class="col-xl-9 mb-4">
            <form th:action="@{/anuncio/cadastro}" th:object="${anuncio}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="campo_cep">CEP</label>
                        <input type="text" class="form-control" id="campo_cep" placeholder="CEP" th:field="*{endereco.cep}">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="campo_cidade">Cidade</label>
                        <input type="text" class="form-control" id="campo_cidade" placeholder="Cidade" th:field="*{endereco.cidade}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="campo_estado">Estado</label>
                        <select id="campo_estado" class="form-control">
                            <option selected>Selecione</option>
                            <option selected>Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="campo_bairro">Bairro</label>
                        <input type="text" class="form-control" id="campo_bairro" placeholder="Bairro" th:field="*{endereco.bairro}">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="campo_rua">Rua</label>
                        <input type="text" class="form-control" id="campo_rua" placeholder="Rua" th:field="*{endereco.logradouro}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="campo_numero">Número</label>
                        <input type="text" class="form-control" id="campo_numero" placeholder="Número" th:field="*{endereco.numeroEndereco}">
                    </div>
                </div>
                <div class="form-row mt-1">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="campo_compra" name="campo_finalidade" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="campo_compra">Compra</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="campo_venda" name="campo_finalidade" class="custom-control-input">
                        <label class="custom-control-label" for="campo_venda">Venda</label>
                    </div>
                </div>'
                <div class="form-row mt-3">
                    <div class="form-group col-md-8">
                        <label for="campo_tipo_imovel">Tipo do Imóvel</label>
                        <select class="form-control" id="campo_tipo_imovel">
                            <option value="">Selecione</option>
                            <optgroup label="RESIDENCIAL"><option value="15">Apart Hotel / Flat / Loft</option><option value="1">Apartamento</option><option value="14">Apto. Cobertura / Duplex</option><option value="11">Casa-Condomínio</option><option value="2">Casa-Térrea</option><option value="5">Kitnet</option><option value="6">Sobrado</option><option value="13">Sobrado-Condomínio</option><option value="4">Terreno</option><option value="12">Terreno-Condomínio</option></optgroup>
                            <optgroup label="COMERCIAL"><option value="16">Área</option><option value="17">Casa Comercial</option><option value="18">Galpão / Depósito</option><option value="3">Imóvel Comercial</option><option value="19">Indústria / Fábrica</option><option value="20">Ponto Comercial</option><option value="21">Pousada / Hotel / Motel</option><option value="22">Sala / Salão / Loja</option></optgroup>
                            <optgroup label="RURAL"><option value="7">Chácara</option><option value="8">Fazenda</option><option value="23">Haras</option><option value="9">Pesqueiro</option><option value="10">Sitio</option></optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="campo_condicoes">Condições</label>
                        <select class="form-control" id="campo_condicoes">
                            <option value="">Selecione</option>
                            <option value="">Novo</option>
                            <option value="">Usado</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="campo_descricao">Descrição</label>
                        <textarea class="form-control" id="campo_descricao" rows="3"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="campo_observacao">Observação</label>
                        <textarea class="form-control" id="campo_observacao" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Cadastrar</button>
            </form>
        </div>
        <div class="col-xl-3 mb-4">
            <div class="card border-0 mb-4 hp-background-gray">
                <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                <div class="card-body p-0">
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">APARTAMENTO</span>
                    <div class="hp-font-size-16 font-weight-bold hp-line-height-20">Jardim Universitário<br>Dourados - MS</div>
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">Rua Visconde Bastos, 358</span>
                </div>
            </div>
            <div class="card border-0 mb-4 hp-background-gray">
                <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                <div class="card-body p-0">
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">APARTAMENTO</span>
                    <div class="hp-font-size-16 font-weight-bold hp-line-height-20">Jardim Universitário<br>Dourados - MS</div>
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">Rua Visconde Bastos, 358</span>
                </div>
            </div>
            <div class="card border-0 mb-4 hp-background-gray">
                <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                <div class="card-body p-0">
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">APARTAMENTO</span>
                    <div class="hp-font-size-16 font-weight-bold hp-line-height-20">Jardim Universitário<br>Dourados - MS</div>
                    <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold">Rua Visconde Bastos, 358</span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer hp-background-red text-white pt-4 pb-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-left hp-font-size-14 font-weight-bold">Copyright © 2018, House Pin. Todos os direitos
                reservados.
            </div>
            <div class="col text-right hp-font-size-14 font-weight-bold"><a href="" class="text-white">TERMOS DE USO</a><a
                    href="" class="text-white ml-4">POLÍTICA DE PRIVACIDADE</a></div>
        </div>
    </div>
</footer>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="fragments/scripts :: scripts">&nbsp;</div>
</body>
</html>