<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<div th:replace="fragments/header :: head">&nbsp;</div>
<body class="hp-background-gray">
<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/header :: header-usuario-logado">&nbsp;</div>
</div>
<div sec:authorize="!isAuthenticated()">
    <div th:replace="fragments/header :: header-sem-usuario">&nbsp;</div>
</div>
<div class="container pt-4">
    <h6 class="font-weight-bold mb-4">Anúncio</h6>

    <nav aria-label="Page navigation example" th:if="${anuncios.totalPages > 0}"
         th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
        <ul class="pagination justify-content-center">
            <li th:class="${anuncios.number == 0} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{${currentUrl}(page=${anuncios.number - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="pageNumber : ${pageNumbers}"
                th:class="${pageNumber == anuncios.number} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:text="${pageNumber + 1}" th:href="@{${currentUrl}(page=${pageNumber})}"></a>
            </li>
            <li th:class="${anuncios.totalPages == (anuncios.number + 1)} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{${currentUrl}(page=${anuncios.number + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<div th:replace="fragments/scripts :: scripts">&nbsp;</div>
<script type="application/javascript">
    // $(document).ready(function () {
    //     // $('#campo_cep').mask('00000-000');
    //
    //     // $("#formCadastroAnunciante").bind('ajax:complete', function(e) {
    //     //     console.log(e);
    //     // });
    // });
</script>
</body>
</html>