<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<div th:replace="fragments/header :: head">&nbsp;</div>
<body class="hp-background-gray">
<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/header :: header-usuario-logado">&nbsp;</div>
</div>
<div sec:authorize="!isAuthenticated()">
    <div th:replace="fragments/header :: header-sem-usuario">&nbsp;</div>
</div>
<div class="container pt-4">
    <h6 class="font-weight-bold mb-4">Favoritos</h6>

    <div class="row">
        <div class="col-xl-3 mb-4 position-relative" th:each="anuncio : ${anuncios}">
            <div class="hp-favorito" sec:authorize="isAuthenticated()" th:attr="data-anuncio_id=${anuncio.getId()}"></div>
            <a th:href="@{/anuncio(id=${anuncio.id})}">
                <div class="card border-0 hp-background-gray">
                    <img class="card-img-top rounded" src="/images/lista-imovel.png" alt="localização do imovel">
                    <div class="card-body p-0">
                        <!--<span class="hp-font-size-12 hp-color-partial-gray font-weight-bold"-->
                        <!--th:text="${anuncio.getTipoImovel().getNome()}"></span>-->
                        <div class="hp-font-size-16 font-weight-bold hp-line-height-20 mt-2 text-dark"><span
                                th:text="${anuncio.getEndereco().getBairro()}"></span><br><span
                                th:text="${anuncio.getEndereco().getCidade()}"></span> - <span
                                th:text="${anuncio.getEndereco().getUf()}"></span>
                        </div>
                        <span class="hp-font-size-12 hp-color-partial-gray font-weight-bold"><span
                                th:text="${anuncio.getEndereco().getLogradouro()}"></span>, <span
                                th:text="${anuncio.getEndereco().getNumero()}"></span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<div th:replace="fragments/scripts :: scripts">&nbsp;</div>
<script type="application/javascript">
    // $(document).ready(function () {
    //     // $('#campo_cep').mask('00000-000');
    //
    //     // $("#formCadastroAnunciante").bind('ajax:complete', function(e) {
    //     //     console.log(e);
    //     // });
    // });
</script>
</body>
</html>